<div class="wrapper" *ngIf="stopwatch$ | async as stopwatch">
  <div class="time">
    <span class="hours">{{stopwatch.hours}}</span>
    <span class="colon">:</span>
    <span class="minutes">{{stopwatch.minutes}}</span>
    <span class="colon">:</span>
    <span class="seconds">{{stopwatch.seconds}}</span>
    <span class="colon ms-colon">:</span>
    <span class="milliseconds">{{stopwatch.milliseconds}}</span>
  </div>
  <div class="buttons">
    <button *ngIf="!stopwatch.started" class="start-stop" (click)="start()">Start</button>
    <button *ngIf="stopwatch.started" class="start-stop" (click)="stop()">Stop</button>
    <button class="wait" (dblclick)="wait()">Wait</button>
    <button class="reset" (click)="reset()">Reset</button>
  </div>
</div>