<div class="wrapper">
  <div class="time">
    <span class="hours">00</span>
    <span class="colon">:</span>
    <span class="minutes">00</span>
    <span class="colon">:</span>
    <span class="seconds">00</span>
    <span class="colon ms-colon">:</span>
    <span class="milliseconds">00</span>
  </div>
  <div class="buttons">
    <button *ngIf="startBtn" class="start-stop" (click)="start()">Start</button>
    <button *ngIf="!startBtn" class="start-stop" (click)="stop()">Stop</button>
    <button class="wait" (click)="wait()">Wait</button>
    <button [disabled]="startBtn" class="reset" (click)="reset()">Reset</button>
  </div>
</div>