<div class="wrapper">
  <div (mouseenter)="''" class="time">
    <span>{{stopwatch.hours}}</span>
    <span class="colon">:</span>
    <span>{{stopwatch.minutes}}</span>
    <span class="colon">:</span>
    <span>{{stopwatch.seconds}}</span>
    <span class="colon ms-colon">:</span>
    <span class="milliseconds">{{stopwatch.milliseconds}}</span>
  </div>
  <div class="buttons">
    <button *ngIf="!this.stopwatchService.isStarted" (click)="start()">Start</button>
    <button *ngIf="this.stopwatchService.isStarted" (click)="stop()">Stop</button>
    <button (click)="wait()">Wait</button>
    <button (click)="reset()">Reset</button>
  </div>
</div>